@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,700';

html {
	font-size: 125%;
}

body {
	background: rgba(80,180,204,1);
	color: #fff;
	font-family: Josefin Sans, Avenir, sans-serif;
	font-weight: 300;
	margin: 0;
	word-break: break-word;
}

.visual-hidden {
	position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0;
}

.hero {
	background: rgba(166,229,239,1);
	background: -moz-linear-gradient(top, rgba(166,229,239,1) 0%, rgba(80,180,204,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(166,229,239,1)), color-stop(100%, rgba(80,180,204,1)));
	background: -webkit-linear-gradient(top, rgba(166,229,239,1) 0%, rgba(80,180,204,1) 100%);
	background: -o-linear-gradient(top, rgba(166,229,239,1) 0%, rgba(80,180,204,1) 100%);
	background: -ms-linear-gradient(top, rgba(166,229,239,1) 0%, rgba(80,180,204,1) 100%);
	background: linear-gradient(to bottom, rgba(166,229,239,1) 0%, rgba(80,180,204,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e5ef', endColorstr='#50b4cc', GradientType=0 );
}

.hero-component--vertical-spacing-large {
	padding: 200px 0;
}
.hero-component--vertical-spacing-medium {
	padding: 100px 0;
}
.hero-component--vertical-spacing-small {
	padding: 50px 0;
}

.hero-component--img-copyright-text {
  text-align: right;
  color: #efefef;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.hero-component--img-copyright-text small {
  font-size: 0.6em;
}
.hero-component--img-copyright-text a,
.hero-component--img-copyright-text a:visited,
.hero-component--img-copyright-text a:active {
  color: #efefef;
}

.hero-component--img {
  background: #05647B;
}

.hero-component--img-maria {
  position: relative;
  z-index: 1;
}
.hero-component--img-maria:before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .5;
  z-index: -1;
	background-image: url('../resources/jpg/Marian_sairaala_Helsinki.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero-component--img-helsinki {
  position: relative;
  z-index: 1;
}
.hero-component--img-helsinki:before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .5;
  z-index: -1;
	background-image: url('../resources/jpg/1280px-Helsinki_July_2013-27a.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.sponsors .sponsors--diamond img {
  width: 80%;
  margin: 50px 0;
}

.sponsors .sponsors--gold img {
  width: 30%;
  margin: 50px 0;
}

.sponsors .sponsors--silver img {
  width: 20%;
  margin: 50px 0;
}

.sponsors .sponsors--bronze img {
  width: 20%;
  margin: 50px 0;
}

.hero svg {
	display: block;
	margin: 0 auto;
}

.hero-component--title {
	overflow: hidden;
}
.hero-component--title svg {
	padding: 5%;
	max-width: 60rem;
	max-width: 100%;
	box-sizing: border-box;
}
.hero-component--title path,
.hero-component--title rect {
	fill: #fff;
}
.hero-component--title h1,
.hero-component--title h2 {
	color: #fff;
	text-align: center;
}
.hero-component--title h2 {
	font-size: 2.5em;
}

.hero-component--content {
	color: #fff;
	margin: 1.5rem auto 6rem auto;
	text-align: center;
	max-width: 40rem;
	width: 90%;
}

@media all and (min-width: 40rem) {
	.hero-component--title svg {
		padding: 10%;
	}
  .hero-component--content {
    width: 80%;
  }
  .hero-component--content.sponsors {
    width: 100%;
  }
}

p {
	margin: 0.75rem 0 0.75rem 0;
}

p.hero-text {
	font-size: 1.5rem;
}

a.button {
	border: 2px solid currentColor;
	border-radius: 0.5rem;
	color: #79D1B0;
	font-weight: 700;
	padding: 0.75rem;
	text-decoration: none;
}
a.button:hover {
	background: #79D1B0;
	color: #fff;
}
a.button:active {
	background: #5C9E86;
}

a.button--negative {
	color: #fff;
}
a.button--negative:hover {
	background: #fff;
	color: #575859;
}

.button-group > .button{
	display: inline-block;
	margin: 0.75rem;
}
