/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import "https://fonts.googleapis.com/css?family=Josefin+Sans:300,500,700";
/* line 23, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 36, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 50, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 71, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 88, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 98, ../sass/_normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 110, ../sass/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 120, ../sass/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 132, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 140, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 155, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 164, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
/* line 200, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 239, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 247, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 255, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 259, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
/* line 314, ../sass/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 325, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 336, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 344, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 353, ../sass/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 362, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
/* line 389, ../sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 407, ../sass/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 418, ../sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
/* line 433, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 448, ../sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 457, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 468, ../sass/_normalize.scss */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
/* line 478, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 494, ../sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 504, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 515, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 524, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
/* line 537, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 550, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 559, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 570, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 575, ../sass/_normalize.scss */
td,
th {
  padding: 0;
}

@font-face {
  font-family: 'Open Sans Emoji';
  src: url("OpenSansEmoji.ttf") format("truetype");
}
/* line 13, ../sass/style.scss */
body {
  font-size: 20px;
  color: #222222;
  font-family: 'Josefin Sans', 'Open Sans Emoji', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 500;
  overflow: hidden;
  background: #82cad6;
  line-height: 1.4em;
  word-break: break-word;
}

/* line 23, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 27, ../sass/style.scss */
a {
  color: #015361;
  text-decoration: none;
}

/* line 32, ../sass/style.scss */
#header {
  background: #a6e5ef;
  background: -moz-linear-gradient(top, #a6e5ef 0%, #50b4cc 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #a6e5ef), color-stop(100%, #50b4cc));
  background: -webkit-linear-gradient(top, #a6e5ef 0%, #50b4cc 100%);
  background: -o-linear-gradient(top, #a6e5ef 0%, #50b4cc 100%);
  background: -ms-linear-gradient(top, #a6e5ef 0%, #50b4cc 100%);
  background: linear-gradient(to bottom, #82cad6 0%, #50b4cc 100%);
  color: white;
  font-weight: 700;
  font-size: 5rem;
  height: 5rem;
  line-height: 5rem;
  padding: 2rem 22px 1.5rem;
}

/* line 48, ../sass/style.scss */
#card-container {
  margin: 27px;
}
/* line 50, ../sass/style.scss */
#card-container .card {
  width: 350px;
  background: white;
  margin: 0 0 27px 0;
  border-radius: 0.5rem;
  overflow: hidden;
}
/* line 58, ../sass/style.scss */
#card-container .card .content {
  padding: 0 1rem;
}
/* line 61, ../sass/style.scss */
#card-container .card .image img {
  width: 100%;
}
/* line 64, ../sass/style.scss */
#card-container .card .date {
  font-size: 0.9em;
  display: block;
  margin: 0.5em 0;
  text-align: right;
  font-weight: 700;
}
/* line 71, ../sass/style.scss */
#card-container .card .extra {
  margin: 0.5rem 0;
  line-height: 48px;
  font-weight: bold;
}
/* line 75, ../sass/style.scss */
#card-container .card .extra a {
  color: #222222;
}
/* line 79, ../sass/style.scss */
#card-container .card .avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  vertical-align: middle;
  margin-right: 0.5rem;
}
/* line 86, ../sass/style.scss */
#card-container .card .type {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  background: #666;
  color: white;
  border-top-left-radius: 1rem;
}
/* line 96, ../sass/style.scss */
#card-container .card .type:before {
  left: 10px;
  position: absolute;
  top: 12px;
}
/* line 101, ../sass/style.scss */
#card-container .card .type.socicon-twitter {
  background: #4da7de;
}
/* line 104, ../sass/style.scss */
#card-container .card .type.socicon-instagram {
  background: #e1306c;
}
